@import './css/Fonts.module.css';
@import './css/Buttons.module.css';

*, *::before, *::after {
    font-family: Gotham Rounded, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
}

.mr-1 {
    margin-right: 5px; 
}